<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    User ID: <%= @newhire.fullname %><br/>
    Is ready to be reviewed! Please log into the pre-credentialing system!
  </body>
</html>
