<div align="center">

<p class="notice">Signoff Saved!</p>


<div class="error round">
	please close this window!<br>
	<input type="button" name="close" value="Close"  onclick="window.opener.location.reload(true); window.close();">
</div>



</div>