<div>
<img src='/assets/pending.png' width='20'> Pending
<img src='/assets/check.png' width='20'> Passed
<img src='/assets/x.png' width='20'> Not Passed
<img src='/assets/alert.png' width='20'>Alert
</div>

